  <nav class=" container-fluid navbar navbar-light bg-primary bg-gradient mx-3 navbar-nav">
    <div class="d-flex justify-content-evenly flex-row">
      <a class="navbar-brand text-white" href="/">Tasks</a>

      <a class="nav-item nav-link text-white active mx-4" href="/">Tasks</a>
      <a class="nav-item nav-link text-white mx-4" href="/create">New Task</a>
    </div>
  </nav>